<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.junpanda.instagram.feed.DAO.FeedDAO">
	<insert id="insertFeed" parameterType="map">
		INSERT INTO `feed`(
				`userId`
				,`nameView`
				,`content`
				,`imagePath`
				,`createdAt`
				,`updatedAt`
			)
			VALUES(
				#{userId}
				,#{nameView}
				,#{content}
				,#{imagePath}
				,now()
				,now()
			)
	
	</insert>
	
	<select id="selectFeedList" resultType="com.junpanda.instagram.feed.model.Feed"
	parameterType="int">
	
		SELECT
			`id`
			,`userId`
			,`nameView`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`feed`
		ORDER BY `updatedAt` DESC
	</select>
	
	<select id="selectFeed" resultType="com.junpanda.instagram.feed.model.Feed">
		SELECT
			`id`
			,`userId`
			,`nameView`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`feed`
		WHERE
			`id` = #{feedId}
	</select>
	
	<insert id="insertloveFeed" parameterType="map">
		INSERT INTO `feedheart`(
				`userId`
				,`nameView`
				,`feedId`
				,`createdAt`
				,`updatedAt`
			)
			VALUES(
				#{userId}
				,#{nameView}
				,#{feedId}
				,now()
				,now()
			)
	
	</insert>
	
	<delete id="deleteloveFeed" parameterType="int">
		DELETE FROM `feedheart`
		WHERE
			`userId` = #{userId} AND `feedId` = #{feedId}
	</delete>

	<delete id="deleteFeed" parameterType="int">
		DELETE FROM `feed`
		WHERE
			`Id` =  #{feedId}
	</delete>
	
	<select id="selectFeedHeartList" resultType="com.junpanda.instagram.feed.model.FeedHeart"
	parameterType="int">
		SELECT
			`id`
			,`userId`
			,`feedId`
			,`nameView`
			,`createdAt`
			,`updatedAt`
		FROM
			`feedheart`
	</select>
	
	<select id="getcount" resultType="com.junpanda.instagram.feed.model.FeedHeartCount"
	parameterType="int">
		SELECT
			`feedId`
			,count(*) as count
		FROM
			`feedheart`
		GROUP BY `feedId`
	</select>
	

</mapper>