@charset "UTF-8";

@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#user_wrap{
	margin : auto;
	height : 100vh;
}

#main_wrap{
	margin : auto;
	height : 100vh;
}

#main_header{
	border-bottom : solid 2px #ccc;
}

#mainA{
	font-family: 'BMEULJIRO';
}

#mainA:link { color: black; text-decoration: none;}
#mainA:visited { color: black; text-decoration: none;}
#mainA:hover { color: black; text-decoration: none;}


#faceA:hover { color: black; text-decoration: none;}

#textbody1{
	width : 350px;
	border : 1px solid gray;
}

#textbody2{
	width : 350px;
	height : 50px;
	border : 1px solid gray;
}

#mainbody{
	width : 350px;
}


#login_photo{
	width : 80%;
}

#facebook_photo{
	width : 7%
}

.footer_hr{
	border: 0;
    height: 2px;
    background: #ccc;
}